body, div {
  margin: 0;
  padding: 0;
}


.errorApp {
  font-size: 1.2em;
  color: blue;
  background-color: Grey;
  margin: auto;
  height: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 50vh;
}

.select-theme {
  border: 1px solid black;
  border-radius: 5px;
  background-color: $secondcolor;
  color: White;
  margin: 15px;
  padding: 5px;
  top: 0px;
  right: 0px;
  position: absolute;
  display: inline-block;
}
