$maincolor: Grey;
$secondcolor: #3F3F3F;
$text-color: white;
$secondtext-color: red;

$danger-color: #FF4040;
$success-color: #43ac6a;
$info-color: #008CBA;

$background-image: url('stylesheets/default/images/background.jpg');
$body-font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default;
