######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
.springBeans
.pmd
.factorypath

######################
# Eclipse ObjectAidUML
######################
*.ucls

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# VScode
######################
.history

######################
# Maven
######################
target/
bin/
.flattened-pom.xml

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
## VisualCode
######################
**/.history/

######################
# Logs
######################

######################
# Mardown preview
######################
*.md.html

######################
# CI
######################
**/.hash
**/.deps.hash
**/.flattened-pom.xml

rs-vendors/spring-data-jdbc-repository/.idea/
