######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
.springBeans
.pmd
.factorypath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
target/
bin/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Logs
######################

######################
# Mardown preview
######################
*.md.html



