<#setting datetime_format='yyyy-MM-dd HH:mm:ss z'>
<h1>REGARDS - Order created</h1>
<div>Yo Bro !
<p>
Your order has been created.
It will be available until ${expiration_date?datetime.iso}.
</p>
<p>You can download metalink file here : <a href="${metalink_download_url}">download metalink file</a>.</p>

<p>Once you have done it, you could use it with RegardsDownloader which may be here : <a href="${regards_downloader_url}">download regards downloader</a>.</p>

<p>Theorically, your order can be followed at this address : <a href="${orders_url}">Orders list</a>.</p>

    <br/>
    xoxo
    <br/>
    Tshuss
</div>