######################
# Node
######################
node_modules/

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/
.pmd
.factorypath
bin/

######################
# Eclipse ObjectAidUML
######################
*.ucls

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Maven
######################
target/

######################
# Windows
######################
# Windows image file caches
Thumbs.db

######################
# Logs
######################
