* **URL**:

  `{{path}}`

* **Method:**

  `{{method}}`

* **Headers**:

  `Authorization: Bearer {token}`
  {{#headers}}
  `{{name}}: {{value}}`
  {{/headers}}

* **URL Params**

  urlParams

* **Query Params**

  queryParams

* **Data Params**

  **Required:**

```json
  {{requestBody}}
```