* **Query params**

|Parameter|Type|Description|Constraints|
|:-------:|:--:|:---------:|:---------:|
{{#parameters}}
| `{{name}}` |{{#type}}{{type}}{{/type}}|{{description}}|{{#constraints}}{{constraints}}{{/constraints}}|
{{/parameters}}
{:.table.table-striped}
