.main {
  background-color: $maincolor;
  min-height: 100vh;
  position: absolute;
  min-width: 100vw;
}

button {
  //width: 100%;
}

.layout {
  background-image: $background-image;
  // Take full screen size for layout
  min-height: 100vh;
  min-width: 100vw;
}

.content {
  //background-color: $secondcolor;
  color: $text-color;
}

.box {
  background-color: $maincolor;
  color: $text-color;
}
