// CSS Styles for React component AdminApp/Authentication/LoginComponent
.login-modal {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid Black;
  border-radius: 10px;
  margin-top: 50vh;
  transform: translateY(-50%);
  background-color: $secondcolor;
}

.login-modal label {
  color: white;
}

.login-modal input {
  margin: 5px 10px;
}

.login-error {
 color: Red;
 font-size: 1.1em;
 }
