
.menuelement {
  color: $text-color;
  font-size: 1.2em;
  margin: 2px 20px;
  text-decoration: none;
  cursor: pointer;
}

.selected {
  @extend .menuelement;
  text-decoration: underline;
  color: $secondtext-color;
}

.unselected {
  @extend .menuelement;
}

.unselected:hover {
  color: blue;
  text-decoration: underline;
}

.navigation {
  background-color: $secondcolor;
  color: $text-color;
  margin-bottom: 20px;
  line-height: 50px;
}
