
.menuelement {
  color: $text-color;
  font-size: 1.2em;
  margin: 2px 20px;
  text-decoration: none;
  cursor: pointer;
  padding: 1.25rem;
}

.selected {
  @extend .menuelement;
  //text-decoration: underline;
  background-color: $danger-color;
  //color: $secondtext-color;
}

.unselected {
  @extend .menuelement;
}

.menuelement:hover {
  background-color: $info-color;
  //text-decoration: underline;
}

.navigation {
  background-color: $secondcolor;
  color: $text-color;
  margin-bottom: 20px;
  line-height: 50px;
}
