<?xml version="1.0" encoding="UTF-8"?>
<!-- LICENSE_PLACEHOLDER -->
<configuration>

	<include resource="fr/cnes/regards/framework/logbackappender/defaults.xml" />

	<springProperty scope="context" name="springAppName"
		source="spring.application.name" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
		<encoder>
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
			<charset>utf8</charset>
		</encoder>
	</appender>

	<appender name="regardsAmqpAppender"
		class="ch.qos.logback.ext.spring.DelegatingLogbackAppender">
		<filter
			class="fr.cnes.regards.framework.logbackappender.RegardsAmqpAppenderFilter">
			<level>INFO</level>
		</filter>
	</appender>

	<logger name="fr.cnes.regards" level="INFO" additivity="true">
		<appender-ref ref="regardsAmqpAppender" />
	</logger>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.hibernate" level="INFO" />
	<logger name="com.mchange" level="INFO" />
	<logger name="fr.cnes.regards.framework.logbackappender" level="DEBUG" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>