<#setting datetime_format='yyyy-MM-dd HH:mm:ss z'>
    <h1>REGARDS - Some file were not handled by a data storage</h1>
    <div>
        One or more files could not be handled by their data storage:
        <#list dataFilesMap as dataFile, reason>
            - File ${dataFile.urls} associated to aip ${dataFile.aipDataBase.id} could not be handled by this data
            storage ${dataFile.dataStorageUsed.label}<#if object.attribute??>, for the following reason: ${reason}</#if>.<br/>
        </#list>
    </div>