$maincolor: blue;
$secondcolor: #4479D4;
$text-color: white;
$secondtext-color: yellow;

$danger-color: #FF4040;
$success-color: #43ac6a;
$info-color: #008CBA;

$background-image: url('stylesheets/default/images/background.jpg');
