version: '2'
services:
  rs-build:
    image: 172.26.46.158/rs-maven
    environment:
      - BRANCH_NAME
      - WORKSPACE
      - CI_DIR
      - MODE=BOM
    volumes:
      - /DATA/maven-multibranch-repository:/localRepository
      - /usr/bin/docker:/bin/docker # link docker - only useful for deploy MODE
      - /var/run/docker.sock:/var/run/docker.sock
      - ../.:/app_to_build
    networks:
      - regards_IT_network

networks:
  regards_IT_network:
    external:
      name: regards_IT_network
